.mn251Title{
    color: aliceblue;
    text-align: center;
    margin: 5%;
    font-size: xx-large;
}
.mn251links{
    text-decoration: none;
  color: aliceblue;
  display: inline;
}
.mn251links:hover{
    color: aqua;
}
.mn251box{
    border: 2px solid white;
    border-radius: 8px;
    margin: 1% 15% 1% 15%;
    padding: 1% 0% 1% 0%;
    
   transition: box-shadow 0.3s; 
   text-align: center;
   
}
.mn251box:hover {
    box-shadow: 0 0 20px 10px rgba(52, 152, 219, 0.7); /* Glow effect */
  }